@model ConfApp.Domain.Models.ConferenceDetails

<div class="page-header">
    <h1>@Model.Name</h1>
</div>
<p class="lead">@Model.Description</p>
<p>Start Date: @Model.StartDate.ToString("f")    End Date: @Model.EndDate.ToString("f")</p>