@model List<ConfApp.Domain.Models.ConferenceSummary>

<h2>Conferences</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var conf in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(conf.Name, "Details", new {conf.Id})
            </td>
            <td class="text-right">
                @Html.ActionLink("Edit", "Edit", new { conf.Id })
            </td>
        </tr>
    }
    </tbody>
</table>